target/
!.mvn/wrapper/maven-wrapper.jar
bin/
test-output/
mvnw
mvnw.cmd
*.mvn

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/logs/
*/log
*logs
.DS_Store
.DS_Store?